*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: $base-size * 314;
}

.container {
  max-width: $base-size * 160;
  margin: 0 auto;
}

#pages {
  margin: 0 auto;
}