h2 {
  color: $color-gold;
  font-family: $font-two;
  font-size: 75px;
  letter-spacing: normal;
  text-align: center;
  letter-spacing: 15px;
  text-transform: uppercase;
}

h3 {
  color: $color-dark;
  font-family: $font-two;
  font-size: 48px;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 3.36px;
  //white-space: nowrap;
}

h4 {
  color: $color-dark;
  font-family: $font-two;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}