.about {
  position: relative;
  margin: 0 auto;
  max-width: $base-size * 160;
  height: $base-size * 71 + 3;
  background-image: url(./../../images/about-us.jpg);
  background-size: cover;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    opacity: 0.78;
  }

  &__wrapper {
    position: relative;
    padding: 1px 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    position: relative;
    text-align: center;
    height: 51px;
    line-height: 51px;
    margin: 98px auto 45px;

    h2 {
      margin: 0 auto ($base-size * 3 + 9);
    }
  }

  &__title::after {
    position: absolute;
    content: '';
    width: $base-size * 64 + 9;
    height: $base-size /2;
    background-color: $color-gold;
    left: 50%;
    transform: translateX(-50%);
  }

  &__description {
    max-width: 972px;
    height: 364px;
    color: $color-light;
    font-family: $font-five;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 146px 457px 0 auto;
    line-height: 45px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
  }

  &__join {
    text-align: right;
  }
}

.footer {
  position: relative;
  margin: 0 auto 0;
  height: 85px;

  &__wrapper {
    position: absolute;
    width: 138px;
    height: 10px;
    color: $color-dark;
    font-family: $font-four;
    letter-spacing: 0.38px;
    font-size: 15px;
    line-height: 10px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

@media (max-width: 1919px) {
  .about {
    &__description {
      margin: 146px auto;
    }
  }
}

@media (max-width: 1199px) {
  .about {
    &__wrapper {
      padding: 1px 20px 0;
    }

    &__title::after {
      width: $base-size * 40;
    }
  }
}

@media (max-width: 767px) {
  .about {
    &__description {
      margin: 56px auto;
    }

    &__title {
      margin: 45px auto 45px;
    }
  }
}