.header {
  position: relative;
  margin: 0 auto;
  max-width: $base-size * 160;
  height: $base-size * 83 + 11;
  background-image: url(./../../images/background.png);
  background-size: cover;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    opacity: 0.69;
  }

  &__wrapper {
    position: relative;
    max-width: $base-size * 160;
    height: $base-size * 83 + 11;
    padding: 1px 0 0;
  }

  &__container {
    position: relative;
    margin: 45px auto 0 390px;
    max-width: 1193px;
    height: 55px;
  }

  &__title {
    margin: 0 0 20px;
    height: 24px;
    color: $color-light;
    font-family: $font-one;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 11px;
    line-height: 24px;
    text-transform: uppercase;
    opacity: 100%;
  }

  &__subtitle {
    margin: 0 0;
    height: 11px;
    font-family: $font-one;
    color: $color-light;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 11px;
    text-transform: uppercase;
    letter-spacing: 4.8px;

  }

  &__nav {
    position: absolute;
    margin: 0;
    top: 22px;
    right: 0;
    margin: 0;
    width: 329px;
    height: 13px;
    opacity: 0.5;
    color: $color-light;
    font-family: $font-four;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 13px;
    text-align: left;
    text-transform: uppercase;

    ul {
      height: 13px;
      line-height: 13px;
      margin: 0;
      padding: 0;

      a {
        text-decoration: none;
        color: $color-light;
      }

      li {
        padding-left: 30px;
        display: inline-block;
        list-style: none;
      }
    }
  }

  &__main__title {
    position: relative;
    margin: 241px 311px 74px auto;
    max-width: 1250px;
    height: 169px;
    line-height: 85px;
    text-align: right;

    span {
      display: block;
      text-align: left;
    }
  }

  &__main__title::after {
    position: absolute;
    content: '';
    width: $base-size * 23;
    height: $base-size /2;
    background-color: $color-gold;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }

  &__discover {
    width: 204px;
    height: 22px;
    color: $color-light;
    font-family: $font-three;
    font-size: 40px;
    line-height: 22px;
    text-align: left;
    margin: 354px auto 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 100%;
  }

  &__arrow {
    width: 60px;
    height: 39px;
    color: $color-light;
    line-height: 39px;
    margin: 39px auto 0;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .header {
    &__nav {
      top: 0;
      right: 20px;
      width: 150px;

      ul {
        line-height: 23px;

        li {
          display: block;
        }
      }
    }
    h1 {
      font-size: 75px;
    }
  }
}

@media (max-width: 1199px) {
  .header {
    &__container {
      margin-left: 20px;
      
    }
    &__main__title {
      text-align: center;
    }

  }
}

@media (max-width: 1439px) {
  .header {
    &__wrapper {
      padding: 1px 20px 0;
    }
  }
}

@media (max-width: 1919px) {
  .header {
    &__container {
      margin-left: auto;
      max-width: 1140px;
    }

    &__main__title {
      margin-right: auto;
    }
  }
}